<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <mat-icon aria-hidden="false" aria-label="Cart">shopping_cart</mat-icon> Lists
          </h5>
        </div>
        <div class="list-group list-group-flush">
          <a *ngFor="let shoppingList of (shoppingLists | async)" routerLink="/app/lists/{{shoppingList.guid}}" class="list-group-item list-group-item-action">
            {{ shoppingList.name }}
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar><mat-icon aria-hidden="false" aria-label="List">list</mat-icon></div>
          <mat-card-title>Inventory</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Inventory of items
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar><mat-icon aria-hidden="false" aria-label="Store">store</mat-icon></div>
          <mat-card-title>Stores</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            List of stores
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
