<div class="card-container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar><mat-icon aria-hidden="false" aria-label="Cart">shopping_cart</mat-icon></div>
      <mat-card-title>Lists</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        List of shopping lists
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div class="card-container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar><mat-icon aria-hidden="false" aria-label="List">list</mat-icon></div>
      <mat-card-title>Inventory</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Inventory of items
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div class="card-container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar><mat-icon aria-hidden="false" aria-label="Store">store</mat-icon></div>
      <mat-card-title>Stores</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        List of stores
      </p>
    </mat-card-content>
  </mat-card>
</div>
