<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-md-12">
      <mat-card class="width-100">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
          <button mat-raised-button class="google-login-btn" (click)="loginWithGoogle()">Login with Google</button>
        </mat-card-content>
        <mat-card-actions>
          <div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>