.control-width-20 {
  width: 20%;
}
.control-width-80 {
  width: 80%;
}
.width-50-left {
  width: 50%;
  // display: inline-block;
  float: left;
}
.width-50-right {
  width: 50%;
  // display: inline-block;
  float: left;
}