<mat-toolbar>
  <a mat-icon-button routerLink="/app/lists"><mat-icon>arrow_back</mat-icon></a>
  <span>{{(shoppingList | async)?.name}}</span>
  <span class="toolbar-spacer"></span>
  <a mat-icon-button routerLink="/app/lists/{{guid}}/settings" aria-label="Settings button">
    <mat-icon>settings</mat-icon>
  </a>
</mat-toolbar>
<div class="mt-1 mx-2">
  <mat-form-field appearance="outline" class="width-100">
    <mat-label>Store</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-nav-list>
    <mat-list-item *ngFor="let item of (shoppingList | async)?.items">
      <div mat-line>{{item.name}}</div>
      <div mat-line>{{item.brand}}</div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-nav-list>
</div>
<div class="fab-placement">
  <button mat-fab color="primary" aria-label="Button to add an item" (click)="openItemDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>