<mat-toolbar class="fixed above">
  <a mat-icon-button routerLink="/app/lists"><mat-icon>arrow_back_ios</mat-icon></a>
  <span>{{(shoppingList | async)?.name}}</span>
  <span class="toolbar-spacer"></span>
  <a mat-icon-button routerLink="/app/lists/{{guid}}/settings" aria-label="Settings button">
    <mat-icon>settings</mat-icon>
  </a>
</mat-toolbar>
<div class="content-container">
  <mat-nav-list>
    <mat-list-item *ngFor="let item of (listItems | async)">
      <div mat-line>{{item.name}}</div>
      <div mat-line *ngIf="!!item.brand">{{item.brand}}</div>
      <div mat-line *ngIf="!!item.comment">{{item.comment}}</div>
      <div class="toolbar-spacer"></div>
      <div class="mx-2">
        {{item.quantity}} {{item.measurement}} 
      </div>
      <div>
        <mat-checkbox [(ngModel)]="item.isInCart" (change)="updateListItem(item)"></mat-checkbox>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item *ngIf="(cartItems | async)?.length > 0">
      <div mat-line>In Cart</div>
      <div class="toolbar-spacer"></div>
      <button mat-raised-button color="primary" type="button" (click)="checkout()">
        <mat-icon>shopping_cart_checkout</mat-icon> Checkout
      </button>
    </mat-list-item>
    <mat-list-item *ngFor="let item of (cartItems | async)">
      <div mat-line><s>{{item.name}}</s></div>
      <div mat-line *ngIf="!!item.brand"><s>{{item.brand}}</s></div>
      <div mat-line *ngIf="!!item.comment"><s>{{item.comment}}</s></div>
      <div class="toolbar-spacer"></div>
      <div class="mx-2">
        {{item.quantity}} {{item.measurement}} 
      </div>
      <div>
        <mat-checkbox [(ngModel)]="item.isInCart" (change)="updateListItem(item)"></mat-checkbox>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-nav-list>
</div>
<div class="fixed fab-placement">
  <button mat-fab routerLink="/app/lists/{{guid}}/items/add" color="primary" aria-label="Button to add an item">
    <mat-icon>add</mat-icon>
  </button>
</div>