<IfModule mod_rewrite.so>
  Options Indexes FollowSymLinks
  RewriteEngine On
  RewriteBase /cadtools/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>