<div class="form-container">
  <form *ngIf="!!listForm" [formGroup]="listForm" (submit)="submitForm()">
    <mat-form-field appearance="outline" class="width-100">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Permissions</mat-card-subtitle>
        <span class="toolbar-spacer"></span>
        <a mat-icon-button aria-label="Button to add a permission" (click)="openPermissionDialog()">
          <mat-icon>add</mat-icon>
        </a>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let permission of shoppingList.permissions; index as i">
            <div mat-line>{{permission.userEmail}}</div>
            <div mat-line>{{permission.permission}}</div>
            <span class="toolbar-spacer"></span>
            <button type="button" mat-icon-button (click)="removePermission(permission)">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-divider *ngIf="i < shoppingList.permissions.length - 1"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-action-list>
      <button mat-raised-button color="primary" type="submit" class="width-100" [disabled]="!listForm.valid">Save</button>
      <button mat-raised-button type="button" class="width-100 mt-2" (click)="cancel()">Cancel</button>
    </mat-action-list>
  </form>
</div>
